<%- include("../partials/head", {tituloWeb: "Gaia | Contacto"}); %>
<body>

  <%- include("../partials/header"); %>
    

 <main>
  
  
    <div class="user-form">
        <h2>Contacto</h2>
    
        <form action="#" method="POST" enctype="multipart/form-data"" class="form-item">
            
            <input type="text" placeholder="Ingrese su nombre">
            <input type="email" placeholder="Ingrese su email">
            <input type="number" placeholder="Ingrese su número de telefono">
            <textarea name="" id="" cols="30" rows="10"  placeholder="Dejanos tu mensaje"></textarea>
           <button class="submit-btn" type="submit">Enviar Mensaje</button>
        </form>
    </div>
    </main>
  

      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script defer src="/js/index.js"></script>
</body>
</html>